BESU_RPC_URL=http://besu.node-1:8545
CONTRACT_ADDRESS=<paste address from make devnet-deploy>
PRIVATE_KEY=8f2a55949038a9610f50fb23b5883af3b4ecb3c3bb792cbcefbd1542c692be63

DB_HOST=postgres_simple_storage
DB_PORT=5432
DB_USER=user_local
DB_PASS=pass_local
DB_NAME=simple_storage

SERVER_ADDR=:8080
